

<div class="container">
  <div class="loader"></div>
  <div class=row">
      <div class="search">
        <%= form_tag(search_path, method: "get", remote: true, class: "searchForm") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search here...", class: "searchTerm", required: true %>
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div id="search-results">
    </div>
  </div>
</div>




